#vscode
/.vscode/

#venv
backend/venv/

#sqlfile

backend/my_ecommerce_project/db.sqlite3

#py_cache
backend/my_ecommerce_project/ecommerce/__pycache__/
*.py[cod]
*$py.class
backend/my_ecommerce_project/my_ecommerce_project/__pycache__/

#media
*.jpg
#C_files
*.so

